In [2]:
import pandas as pd
data = pd.read_csv("//Users/hamidrezamatiny/Documents/sales.csv")
data.head()

         Date   Product  Quantity  Price  Revenue
0  2023-01-01  Widget A        10    5.0   1050.0
1  2023-01-02  Widget B         5   10.0    950.0
2  2023-01-03  Widget A         8    5.0   1040.0
3  2023-01-04  Widget C        12    7.5    990.0
4  2023-01-05  Widget B         3   10.0   1030.0

In [3]:
print(data.where(data['Revenue']>1000).dropna())

         Date   Product  Quantity  Price  Revenue
0  2023-01-01  Widget A      10.0    5.0   1050.0
2  2023-01-03  Widget A       8.0    5.0   1040.0
4  2023-01-05  Widget B       3.0   10.0   1030.0
6  2023-01-07  Widget C       7.0    7.5   1052.5
8  2023-01-09  Widget A       4.0    5.0   1020.0
9  2023-01-10  Widget C      11.0    7.5   1182.5